### 프로젝트 공통 제외 항목 ###
# 빌드 결과물 및 임시 파일
out/
bin/
*.class
*.log

# OS 관련 임시 파일 (Mac/Windows)
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iml
.gradle/
build/

### VS Code ###
.vscode/

### 기타 IDE (Eclipse, NetBeans) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
